/*  a1.css */

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
}

.container {
	width: 50%;
  text-align: center;
	margin: auto;
}

.quote {
  font-style: italic;
}
